body {
    margin: 0;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h1{
    font-size: 100px;
    color: aliceblue;
    backdrop-filter: brightness(.5);
    letter-spacing: 4px;
}

.btn{
    background-color: black;
    color: white;
    padding: 20px 40px;
    font-size: 25px;
    border: 4px solid;
    cursor: pointer;
    transition: 1s background-color;
    white-space: nowrap;
}

.btn:hover{
    background-color: white;
    color:black
}


.split{
width: 50%;
height: 100%;
top: 0;
overflow: hidden;
}

.split.left{
    position: absolute;
    left: 0;
    background-color: pink;
    background-image: url("https://rukminim2.flixcart.com/image/850/1000/l0igvww0/mobile/r/q/m/-original-imagca5ajerqpfjy.jpeg?q=90&crop=false");
    background-size: cover;
}

.split.right{
    position: absolute;
    right: 0;
    background-color: lightblue;
    background-image: url("https://image-us.samsung.com/us/smartphones/galaxy-s21/gallery-images-palette-exclusive/P3-Exclusive-Phantom-Brown/PDP-P3-Phantom-Brown-lockup-01-1600x1200.jpg?$product-details-jpg$");
    background-size: cover;
}

.active-left.left{
width: 75%;
}

.active-left.right{
    width:25%;
}

.left, .right{
    transition: width 2s ease-in-out;
}